name: compile-release

on:
  push:
    branches: [ main ]

env:
  # Disable incremental compilation for faster from-scratch builds
  CARGO_INCREMENTAL: 0

jobs:
  build-release-ubuntu:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    - run: rustup update
    - run: cargo build --release
    - uses: actions/upload-artifact@v4
      with:
        path: |
          target/release/marshalconv.exe
          target/release/rpgtool.exe
